Source: fixpr12icons
Section: user/system
Priority: optional
Maintainer: Graham Cobb <g+770@cobb.uk.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: fixpr12icons
Architecture: all
Depends: ${misc:Depends}
Conflicts: mp-fremantle-generic-pr (<< 10.2010.19-1)
Description: Fix missing icons in PR1.2
 Workround for Bug 10370.
 .
 For each of the GTK icons which are supposed to be
 in /usr/share/icons/hicolor/48x48/hildon/gtk*.png
 this package sets up the necessary symlinks if they
 are missing.
